.CusAssistance{
    display: flex;
    justify-content: space-between;
}
.CusAssistanceBox1{
    width: 800px;
    height: 160px;
    padding: 20px;
    border-radius: 15px;
    margin-top: 60px;
    background-image: url('/images/customer/mantoman.jpg');
    transition: 0.3s;
    cursor: pointer;
}
.CusAssistanceBox1:hover{
    transition: 0.3s;
    transform: translateY(-5px);    
    box-shadow: 0px 0px 5px rgba(1, 130, 216, 0.5);
}
.CusAssH2{
    margin-top: 50px;
    margin-bottom: 30px;
}

.CusAssistance p{
    font-weight: 600;
    margin: 10px 0;
}
.CusAssistance i{
    font-size: 20px;
    font-weight: 700;
}
.CusAssH2{
    font-weight: 600;
}
.CusAssistanceWrap{
    margin-bottom: 80px;
}
.CusFAQ > div > div {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  cursor: pointer;
}

.bi.bi-chevron-down {
  transition: transform 0.3s ease;
  scale: 0.8;
  margin-left: 20px;
}
.bi.bi-chevron-down.active {
  transform: rotate(180deg);
}
.CusFAQ{
    font-size: 20px;
}
.CusFAQ > div{
    margin: 30px 0;
}
.CusNotice h2{
    /* font-weight: 600; */
    margin-top: 80px;
    margin-bottom: 30px;
}

.togglediv{
    /* padding: 15px; */
    margin-top: 10px;
}
.togglediv p{
    /* font-weight: 500; */
    font-size: 16px;
    margin-left: 30px;
}
.CusFAQSpan{
    cursor: pointer;
    font-weight: 500;
    color: #838383;
    font-size: 16px;
    margin-top: 10px;
}
.CusNoticeLink{
    border: 1px solid rgb(204, 204, 204);
    padding: 30px;
    border-radius: 15px;
}

.CusNoticeLink div p{
    margin: 20px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(209, 209, 209);
    font-size: 16px;
    cursor: pointer;
}
.CusNoticeLink div p:hover{
    color: #0b79b7;
}
.CusNoticeBox{
    margin-bottom: 100px;
}
.guideSideMenus{
    cursor: pointer;
}
.guideSideMenus2{
    width: 150px;
    font-size: 20px;
    margin: 10px 0;
    font-weight: 700;
    cursor: pointer;
    color: gray;
}
.guideSideMenus2:hover{
    color: #333;
}
.guideSideMenus2.active{
    color: rgb(211, 211, 211);
    cursor: default;
    pointer-events: none;
    user-select: none;
}
.cusNoticeH3{
    margin-bottom: 30px;
}
.cusBottomBtnBox{
    width: 300px;
    margin: 80px auto;
}
.cusBottomBtn{
    width: 250px;
    padding: 10px;
    border: none;
    background-color: #2591cf;
    border-radius: 10px;
    color: white;
    font-size: 19px;
    transition: 0.2s;
}
.cusBottomBtn:hover{
    background-color:  #065d8f;
}
.customertotop{
    cursor: pointer;
}
.guideGoToHome.active{
    color: #333;
}
.CusFAQSpan{
    user-select: none;
}
.togglediv{
    user-select: none;
}
.modalOpen{
    width: 600px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px;
    z-index: 101;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.modalOpen .bi-x{
    position: absolute;
    top:0px;
    right: 10px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
}
.modal1title{
    width: 535px;
    margin-bottom: 10px;
}
.modal1content{
    width: 535px;
    height: 300px;
}
.modal1Contentspan{
    color: #0b79b7;
}
.modal1Content input{
    margin: 10px 0;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    outline-color: #0b79b7;
    font-weight: 500;
}
.modal1Content textarea{
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(194, 194, 194);
    outline-color: #0b79b7;
}
.modal1Content p, .modal1Content span{
    font-weight: 500;
    font-size: 18px;
}
.modalOpen h3{
    font-weight: 600;
    margin-bottom: 20px;
    color: #0b79b7;
}
.cusOverlay{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}
.submitinqu{
    width: 535px;
    margin: 0 auto;
    text-align: center;
}
.submitinqu button{
    width: 535px;
    font-size: 19px;
    padding: 10px;
    border: none;
    background-color: #0b79b7;
    border-radius: 10px;
    color: white;
    margin-top: 10px;
}
.submitinqu button:hover{
    background-color: #065d8f ;
}
.modalOpen .bi-x:hover{
    color: #0b79b7;
}
.havetologin{
    text-align: center;
    margin: 70px 0;
    font-size: 22px;
    font-weight: 500;
}
