a{
    text-decoration: none;
    color: #333;
}
hr{
    margin: 70px 0;
}

#root .DetailPage{
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/* 좌측 상세 전체 */
#root .DetailPage .detailContent{
    /* border: 1px solid red; */
    width: 900px;
    margin: 50px 0;
}
#root .DetailPage .detailContent h4{
    margin-bottom: 20px;
}

#root .DetailPage .detailContent .D_Head{
    display: flex;
    gap: 10px;
}

#root .DetailPage .detailContent .D_imgInfo{
    margin-bottom: 30px;
}
#root .DetailPage .detailContent .D_imgInfo > img{
    width: 550px;
}
#root .DetailPage .detailContent .D_imgInfo > p >img{
    width: 45px;
}

/* 차량정보 */
#root .DetailPage .detailContent .D_carInfo > ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}
#root .DetailPage .detailContent .D_carInfo > ul li{
    font-size: 19px;
    word-break: keep-all;
    border: 1px solid #ccc;
    border-radius: 7px;
    width: 279px;
    height: 165px;
    padding: 30px;
    position: relative;
}
#root .DetailPage .detailContent .D_carInfo > ul li i{
    font-size: 30px;
    color: #a1a1a1;
    display: block;
    position: absolute;
    bottom: 30px;
}
/* 옵션 */
#root .DetailPage .detailContent div.D_carInfo div.option_list{
    margin-top: 30px;
}
#root .DetailPage .detailContent div.D_carInfo div.option_list ul.option_list{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 50px;
    background-color: #f7f8fa;
    padding: 30px;
    border-radius: 7px;
}
#root .DetailPage .detailContent div.D_carInfo div.option_list > p{
    font-size: 20px;
    font-weight: 500;
}
#root .DetailPage .detailContent div.D_carInfo div.option_list ul.option_list > li i{
    margin-right: 10px;
    font-size: 20px;
}
/* 지도 */
/* #root .DetailPage .detailContent .D_location{

} */
#root .DetailPage .detailContent .D_location > h5{
    padding: 20px 0;
}
#root .DetailPage .detailContent .D_location .D_detial_address_title{
    color: #ccc;
    font-size: 15px;
    padding: 10px 0;
}
/* 반납규정 */
#root .DetailPage .detailContent .D_location .D_rentalPolicy{
    background-color: #f7f8fa;
    padding: 30px;
    border-radius: 7px;
}
/* 유의사항 */
#root .DetailPage .detailContent .D_usageNotice{
    margin-top: 30px;
    background-color: #e9eaee;
    padding: 30px;
    border-radius: 7px;
}
#root .DetailPage .detailContent .D_usageNotice > hr{
    margin: 25px 0;
    /* color: #fff; */
}
#root .DetailPage .detailContent .D_usageNotice .bi-exclamation-circle-fill{
    color: #ff6f43;
}

/* ----------------------------------- */

/* 우측 요약 및 예약하기 버튼 */
#root .DetailPage .detailSummary{
    width: 330px;
    border: 1px solid blue;
}