*{box-sizing: border-box;}
.guideWrap{
    margin: 0 auto;
    width: 1300px;
}
.guideFlex{
    display: flex;
}
.guideTop{
    display: flex;
    margin-top: 50px;
    gap: 10px;
    margin-bottom: 20px;
}
.guideLeft{
    display: flex;
    flex-direction: column;
    width: 350px;
    border-right: 1px solid gray;
}
.guideSideText {
    font-size: 25px;
    margin-bottom: 20px;
}
.guideSideMenus{
    display: block;
    font-size: 20px;
    margin: 10px 0;
    font-weight: 500;
    color: gray;
}
.guideSideMenus:hover{
    color: #333;
}
.guideRight{
    width: 900px;
    margin-left: 50px;
    flex: 1;
    min-width: 0;
}
.guideRight > div > h3{
    margin-bottom: 20px;
}
.guideMainText{
    font-size: 22px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.guideSelectButns{
    background-color: transparent;
    font-size: 18px;
    margin-right: 30px;
    font-weight: 500;
    outline: none;
    border: none;
    padding: none;
    margin-left: 0;
}
.guideSelectButns:hover{
    color: #333;
}
.guideExplain{
    /* margin-top: 90px; */
    font-size: 20px;
    margin-bottom: 30px;
}
.guideExplainDetail{
    font-size: 14px;
    color: #333;
}
.guideWrap img{
    width: 900px;
}
.guideRentalProcessImg img{
    width: 900px;
    /* border: 1px solid gray;
    border-radius: 15px; */
}
.guideRentalProcessExplain{
    font-size: 14px;
    color: #333;
    margin-bottom: 30px;
}
.guideSecondExplain{
    margin-top: 90px;
    font-size: 20px;
    margin-bottom: 30px;
}
.guideThirdExplain{
    margin-top: 90px;
    font-size: 20px;
    margin-bottom: 30px;
}
.guideFourthExplain{
    margin-top: 90px;
    font-size: 20px;
    margin-bottom: 30px;
}
.guideFifth{
    margin-bottom: 80px;
}
.guideFifthExplain{
    margin-top: 90px;
    font-size: 20px;
    margin-bottom: 30px;
}
.guideSecondExplainDetail{
    font-size: 15px;
    color: #333;
    display: block;
}
.guideThirdExplainDetail{
    font-size: 15px;
    color: #333;
    display: block;
    margin-bottom: 5px;
}
.guideFourthExplainDetail{
    font-size: 15px;
    color: #333;
    display: block;
}
.guideFifthExplainDetail{
    font-size: 15px;
    color: #333;
    display: block;
}
.guideSelectWhereBox{
    margin: 0 auto;
    width: 220px;
    display: flex;
    gap: 20px;
    /* margin-top: 50px; */
    
}
.guideSelectWhereCarBtns{
    border: none;
    width: 100px;
    padding: 10px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 500;
    background-color: #ccc;
    height: 50px;
}
.guideSelectWhereCarBtns:hover{
    background-color: rgb(190, 190, 190);
}
.guideSelectWhereCar{
    background-color: rgb(214, 214, 214);
    border: none;
    font-size: 19px;
    padding: 10px;
    width: 120px;
    border-radius: 7px;
    outline: none;
}

.guideSelectWhereCar:hover{
    background-color: rgb(190, 190, 190);
}
.guideSelectWhereCar.active{
    background-color: #0b79b7;
    color: white;
}
.guideSelectCarSizeBtn{
    margin-top: 30px;
    background-color: rgb(214, 214, 214);
    border: none;
    font-size: 19px;
    padding: 10px;
    width: 120px;
    border-radius: 7px;
    outline: none;
}
.guideSelectCarSizeBtn2{
    margin-top: 30px;
    background-color: rgb(214, 214, 214);
    border: none;
    font-size: 19px;
    padding: 10px;
    width: 120px;
    border-radius: 7px;
    outline: none;
}
.guideSideMenus{
    display: block;
    font-size: 20px;
    margin: 10px 0;
    font-weight: 500;
    color: gray;
}
.guideSideMenus.active{
    color: #333;
}
.guideSelectButns{
    color: gray;
}
.guideSelectButns.active{
    color: #333;
}

.guideSelectCarSizeBtn:hover{
    background-color: rgb(179, 179, 179);
}
.guideSelectCarSizeBtn.active{
     background-color: #0b79b7;
    color: white;
}
.guideSelectCarSizeBtn2:hover{
    background-color: rgb(179, 179, 179);
}
.guideSelectCarSizeBtn2.active{
    background-color: #0b79b7;
    color: white;
}
.guideSelectKorCar{
    width: 660px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.guideSelectForCar{
    width: 400px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.guideSelectCarSize{
    margin-top: 20px;
    margin-bottom: 40px;
}
.guideTable{
    width: 900px;
}
.guideThead{
    background-color: #0b79b7;
    height: 45px;
    font-size: 15px;
    text-align: center;
    font-weight: 500;
}
.guideTr th{
    color: white;
}
.guideTh{
    width: 225px;
    font-weight: 500;
}
.guideTd{
    width: 225px;
    text-align: center;
    font-size: 16px;
    height: 70px;
    border-bottom: 1px solid rgb(212, 212, 212);
}
.guideGoToBookBox{
    width: 100%;
    display: flex;
    justify-content: center;
}
.guideGoToBook{
    font-size: 19px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #2591cf;
    color: white;
    transition: 0.3s;
    margin-bottom: 100px;
    text-align: center;
}

.guideGoToBook:hover{
    background-color: #065d8f;
}
.guideGoToHome{
    color: rgb(160, 160, 160);
    text-decoration: none;
}
.guidetable1{
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: #f2f3f5;
  }
.guidetable1th,.guidetable1td{
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
  }
.guidetable1th{
    background-color: #0b79b7;
    color: white;
    font-weight: bold;
    text-align: center;
  }
.guidetable1td{
    vertical-align: top;
  }
.guidetable2 {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #f2f3f5;
  }

.guidetable2th, .guidetable2td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 12px 20px;
  }

.guidetable2th{
    background-color: #0b79b7;
    color: white;
    font-weight: 500;
  }
 .guide4service-card {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 40px 50px;
    margin: 10px 0;
  }

  .guide4service-item {
    text-align: center;
  }
  .guide4service-item .title {
    font-size: 14px;
    color: #888;
    margin-bottom: 5px;
  }

  .guide4service-item .content {
    font-size: 18px;
    font-weight: bold;
    color: #000;
  }
