*{box-sizing: border-box;}
.guideWrap{
    margin: 0 auto;
    width: 1300px;
}
.guideFlex{
    display: flex;
}
.guideTop{
    display: flex;
    margin-top: 50px;
    gap: 10px;
    margin-bottom: 20px;
}
.guideLeft{
    display: flex;
    flex-direction: column;
    width: 350px;
    border-right: 1px solid gray;
}

.guideSideMenus{
    font-size: 20px;
    margin: 10px 0;
    font-weight: 700;
}
.guideRight{
    width: 900px;
    margin-left: 50px;
}
.guideMainText{
    margin-top: 50px;
}
.guideSelectButns{
    background-color: transparent;
    font-size: 21px;
    margin-right: 30px;
    font-weight: 700;
    outline: none;
    border: none;
    padding: none;
    margin-left: 0;
}
.guideExplain{
    margin-top: 40px;
    margin-bottom: 10px;
}
.guideExplainDetail{
    font-size: 14px;
    color: #333;
}
.guideWrap img{
    width: 900px;
}
.guideRentalProcessImg img{
    width: 900px;
    border: 1px solid gray;
    border-radius: 15px;
}
.guideRentalProcessExplain{
    font-size: 14px;
    color: #333;
}
.guideSecondExplain{
    margin-top: 60px;
    margin-bottom: 10px;
}
.guideThirdExplain{
    margin-top: 60px;
    margin-bottom: 10px;
}
.guideFourthExplain{
    margin-top: 60px;
    margin-bottom: 10px;
}
.guideFifthExplain{
    margin-top: 60px;
    margin-bottom: 10px;
}
.guideSecondExplainDetail{
     font-size: 14px;
    color: #333;
    display: block;
}
.guideThirdExplainDetail{
     font-size: 14px;
    color: #333;
    display: block;
}
.guideFourthExplainDetail{
    font-size: 14px;
    color: #333;
    display: block;
}
.guideFifthExplainDetail{
    font-size: 14px;
    color: #333;
    display: block;
}
.guideSelectWhereBox{
    margin: 0 auto;
    width: 220px;
    display: flex;
    gap: 20px;
    margin-top: 50px;
    
}
.guideSelectWhereCarBtns{
    border: none;
    width: 100px;
    padding: 10px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 700;
    background-color: #ccc;
    height: 50px;
}
.guideSelectWhereCarBtns:hover{
    background-color: rgb(190, 190, 190);
}
.guideSelectWhereCar{
    background-color: rgb(214, 214, 214);
    border: none;
    font-size: 22px;
    padding: 10px;
    width: 120px;
    height: 60px;
    border-radius: 15px;
    outline: none;
    font-weight: 700;
}

.guideSelectWhereCar:hover{
    background-color: rgb(190, 190, 190);
}
.guideSelectWhereCar.active{
    background-color: dodgerblue;
    color: white;
}
.guideSelectCarSizeBtn{
    margin-top: 30px;
    background-color: rgb(214, 214, 214);
    border: none;
    font-size: 22px;
    padding: 10px;
    width: 120px;
    height: 60px;
    border-radius: 15px;
    outline: none;
    font-weight: 700;
}
.guideSelectCarSizeBtn2{
    margin-top: 30px;
    background-color: rgb(214, 214, 214);
    border: none;
    font-size: 22px;
    padding: 10px;
    width: 120px;
    height: 60px;
    border-radius: 15px;
    outline: none;
    font-weight: 700;
}
.guideSideMenus{
    color: gray;
}
.guideSideMenus.active{
    color: black;
}
.guideSelectButns{
    color: gray;
}
.guideSelectButns.active{
    color: black;
}

.guideSelectCarSizeBtn:hover{
    background-color: rgb(179, 179, 179);
}
.guideSelectCarSizeBtn.active{
     background-color: dodgerblue;
    color: white;
}
.guideSelectCarSizeBtn2:hover{
    background-color: rgb(179, 179, 179);
}
.guideSelectCarSizeBtn2.active{
    background-color: dodgerblue;
    color: white;
}
.guideSelectKorCar{
    width: 660px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.guideSelectForCar{
    width: 400px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.guideSelectCarSize{
    margin-top: 20px;
    margin-bottom: 40px;
}
.guideTable{
    width: 900px;
}
.guideThead{
    background-color: dodgerblue;
    height: 70px;
    font-size: 20px;
    color: white;
}
.guideTh{
    width: 225px;
}
.guideTd{
    width: 225px;
    text-align: center;
    font-size: 18px;
    height: 70px;
    border-bottom: 1px solid rgb(212, 212, 212);
}
.guideGoToBook{
    display: block;
    width: 450px;
    margin: 50px auto;
    padding: 10px;
    font-size: 22px;
    background-color: black;
    color: white;
    height: 70px;
    border-radius: 15px;
    outline: none;
    border: none;
}
.guideGoToBook:hover{
    background-color: rgb(56, 56, 56);
}

