.myPageBookWarp{
    margin-bottom: 100px;
}
.mypageBookCard{
    background-color: #f2f3f5;
    border-radius: 10px;
    border: 1px solid rgb(218, 218, 218);
    padding: 30px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mypageBookinfo{
    display: flex;
    position: relative;
    gap: 50px;
}
.mypageBookinfo img{
    width: 350px;
    height: 220px;
}
.mapCarname{
    font-size: 30px;
    font-weight: 600;
    margin: 10px 0;
    margin-top: 45px;
}
.mapCarDays{
    position: absolute;
    top: -35px;
    left: -25px;
    padding: 7px 15px;
    border-radius: 0 0 5px 5px;
    background-color: #0b79b7;
    color: white;
    font-size: 17px;
}
.mapCarBooknum{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #333;
}
.mapCarDate{
    font-size: 20px;
    font-weight: 600;
}
.tomargin{
    margin-right: 30px;
}

.GoToDetailBoxmap{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    
}
.mapGoToDetail{
    display: inline-block;
    background-color:#0b79b7;
    color: white;
    width: 100%;
    padding: 10px 5px;
    border-radius: 7px;
    font-size: 20px;
}
.mapGoToDetail:hover{
    background-color: #065d8f;
}
.mypageBookCard .bi-exclamation-lg{
    font-size: 30px;
}