.myPageDetailWrap{
    width: 100%;
}

#root .myPageDetailWrap .myPageDetail01{
    display: flex;
    gap: 15px;
}
#root .myPageDetailWrap .mypageDetail3 > h4{
    font-size: 20px;
    font-weight: 600;
    margin: 15px 0 10px 0;
}
#root .myPageDetailWrap .mypageDetail3 > span{
    font-size: 16px;
    font-weight: 500;
    color: #7a7a7a;
}
.myPageDetailTop{
    width: 483px;
    margin-bottom: 30px;
    padding: 30px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 10px;
}
.myPageDetailTopflex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    position: relative;
}
.myPageDetailname{
    font-size: 22px;
    font-weight: 600;
}
.myPageDateLeft{
    background-color:  #0b79b7;
    padding: 5px 10px;
    font-size: 18px;
    color: white;
    border-radius: 5px;
}
.myPageDetailbooknum ,.myPageDetailwhengo{
    font-size: 18px;
    font-weight: 500;
    color: gray;
}
.myPageDetailspan1{
     margin-right: 30px;
}
.myPageDetailspan1, .myPageDetailspan{
    font-size: 19px;
    color: #333;
    font-weight: 700;
}
.myPageCancleBtnBox{
    width: 250px;
    text-align: center;
    margin-bottom: 10px;
}
.myPageCancleBtn{
    padding: 10px;
    /* width: 100%; */
    width: 421px;
    /* margin-left: 605px; */
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #9c9c9c;
    /* background-color:#f9fafc;; */
    background-color: #fff;
}
.myPageCancleBtn:hover{
    background-color: rgb(237, 235, 235);
}
.mypageDetail2{
    padding: 30px;
    /* width: 100%; */
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: #f5f6f7;
    margin-bottom: 30px;
}
.mypageDetail2 img{
    margin-top: 60px;
    width: 250px;
}
.mypageDetail2 .myPageDetail12_1{
    margin-bottom: 157px;
}
.mypageDetail2 .myPageDetail12_1 > strong{
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    padding-bottom: 2px;
}
.mypageDetail2 .myPageDetail12_1 > p{
    font-size: 15px;
    font-weight: 500;
}
.mypageDetail3{
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid rgb(218, 218, 218);
}
.bi-copy{
    position: absolute;
    right: 0px;
    top: 2px;
    margin-left: 10px;
    color: rgb(170, 170, 170);
    cursor: pointer;
}
.bi-copy:hover{
    color: rgb(100, 100, 100);
}
.mypageDetail3 > hr{
    margin: 20px 20px 20px 0;
    padding: 0;
    width: 838px;
}

.mypageDetailBackBox{
    text-align: center;
    width: 100%;
}
.mypageDetailBack{
    width: 100%;
    padding: 15px;
    margin-bottom: 80px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    background-color: black;
    border: none;
}
.mypageDetailBack:hover{
    background-color: rgb(46, 46, 46);
}
.mypageDetailP{
    font-size: 18px;
    font-weight: 600;
    color: #7a7a7a;
}
.mybookDetailPriceBox{
    display: flex;
    justify-content: space-between
}
.DetailSpans{
    font-size: 18px;
    font-weight: 550;
}