.myPageBookWarp{
    margin-bottom: 100px;
}
.mypageBookCard{
    border-radius: 10px;
    border: 1px solid rgb(218, 218, 218);
    padding: 30px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mypageBookinfo{
    display: flex;
    position: relative;
    gap: 50px;
}
.mypageBookinfo img{
    width: 350px;
    height: 220px;
}
.mapCarname{
    font-size: 30px;
    font-weight: 600;
    margin: 10px 0;
    margin-top: 45px;
}
.mapCarDays{
    position: absolute;
    top: -35px;
    left: -25px;
    padding: 7px 15px;
    border-radius: 0 0 5px 5px;
    background-color: #0b79b7;
    color: white;
    font-size: 17px;
}
.mapCarBooknum{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #333;
}
.mapCarDate{
    font-size: 20px;
    font-weight: 600;
}
.tomargin{
    margin-right: 30px;
}

.GoToDetailBoxmap{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    
}
.mapGoToDetail{
    display: inline-block;
    background-color:#0b79b7;
    color: white;
    width: 100%;
    padding: 10px 5px;
    border-radius: 7px;
    font-size: 20px;
}
.mapGoToDetail:hover{
    background-color: #065d8f;
}
.mypageBookCard .warningIcon{
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #9e9e9e;
    border-radius: 50%;
    color: white; 
    margin-top: 30px;
}
.mypageBookCard .noBookedP{
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #555;
}
.noBookedGoToBook{
    display: block;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    background-color: #333;
    padding: 10px 5px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}
.noBookedGoToBook:hover{
    background-color: rgb(71, 71, 71);
}