#root .myinfo-Wrap{
  min-height: 1100px;
}

#root .myinfo-Wrap .myinfo-tableBox{
  border-radius: 10px;
  border: 1px solid rgb(234, 234, 234);
  margin-top: 50px;
  padding: 20px 25px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
#root .myinfo-Wrap .myinfo-tableBox .myinfo-context{
    padding: 30px;
    width: 100%;
    /* border-top: 2px solid #444; */
}
#root .myinfo-Wrap .myinfo-list{
  list-style: none;
  list-style: none;
  padding: 20px;
  margin: 0;
}

#root .myinfo-Wrap .myinfo-list > tr{
  padding: 20px 0;
  border-bottom: 1px solid #d4d4d4;
  display: flex;
  align-items: center;
}

#root .myinfo-Wrap .myinfo-list > tr .myinfo-label{
  font-weight: 600;
  font-size: 16px;
  width: 250px;
  padding: 0 35px;
  color: #444;
}

#root .myinfo-Wrap .myinfo-list > tr .myinfo-value{
  font-size: 17px;
  font-weight: 500;
  color: #555;
}

.myinfo-btn{
  margin-top: 70px;
  width: 100%;
  height: 48px;
  border-radius: 10px;
  border: none;
  background-color: #0b79b7;
  color: #fff;
  font-size: 19px;
  cursor: pointer;
  transition:  0.2s ease;
}

.myinfo-btn:hover {
  background-color: #09679c;
}


