#root .Recent_car_list{
    width: 1300px;
    margin: 120px auto;
    padding: 0;
}
#root .Recent_car_list .Recent_Head{
    display: flex;
    gap: 10px;
    margin: 30px 0;
}
#root .Recent_car_p{
    margin: 5px 0 20px 0;
    font-size: 20px;
    color: #666;
}
.Recent_car_span{
    font-size: 15px;
}
#root .Recent_car_list .Recent_ByDate{
    display: flex;
    flex-wrap: wrap;
    gap: 70px 25px;
}
/* 1ëŒ€ */
#root .Recent_car_list .Recent_ByDate .Recent_car_item{
    width: 305px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
#root .Recent_car_list .Recent_ByDate .Recent_car_img{
    padding: 10px 30px;
    background-color: #f4f5f7;
    /* border: 1px solid red; */
    border-radius: 7px;
    width: 100%;
    margin-bottom: 20px;
    transition: 0.2s;
}
.Recent_car_img:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.Recent_logo {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 10px;
    left: 10px;
}