#root .Recent_car_list{
    width: 1300px;
    margin: 120px auto;
    padding: 0;
}
#root .Recent_car_list .Recent_Head{
    display: flex;
    gap: 10px;
    margin: 30px 0;
}
#root .Recent_car_list > p{
    margin: 20px 0;
    color: #666;
}#root .Recent_car_list .Recent_ByDate{
    display: flex;
    flex-wrap: wrap;
    gap: 70px 25px;
}
/* 1ëŒ€ */
#root .Recent_car_list .Recent_ByDate .Recent_car_item{
    width: 305px;
    font-size: 17px;
    font-weight: 500;
}
#root .Recent_car_list .Recent_ByDate .Recent_car_item img{
    padding: 20px 30px;
    background-color: #f4f5f7;
    /* border: 1px solid red; */
    border-radius: 7px;
    width: 100%;
    margin-bottom: 20px;
}
/* .Re_hr{
    margin: 0;
    margin-bottom: 20px;
} */