#root .FooterContainer{
    width: 100%;
    border-top: 1px solid #d4d4d4;
}

#root .FooterContainer .Footer{
    width: 1300px;
    margin: 0 auto;
}

/* 공지사항 */
/* #root .FooterContainer .Footer_Top .notice{
    position: relative;
    padding: 30px 0;
}
#root .FooterContainer .Footer_Top .notice::before{
    width: 100%;
    content: '';
    position: absolute;
    border: 1px solid #ccc;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
#root .FooterContainer .Footer_Top .notice::after{
    width: 100%;
    content: '';
    position: absolute;
    border: 1px solid #ccc;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
} */

/* -------------------------------------- */

/* 로고 */
#root .FooterContainer .Footer_Top > img{
    width: 100px;
    margin-top: 70px;
    margin-bottom: 30px;
}

/* 푸터 섹션 */
#root .FooterContainer .Footer_Top .Footer_sec{
    display: flex;
    justify-content: space-between;
}

/* 좌측 회사정보 */
#root .FooterContainer .Footer_Top .Footer_sec .F_info{
    width:  900px;
    font-size: 14px;
}
#root .FooterContainer .Footer_Top .Footer_sec .F_info .F_infoUl .F_infoLi01{
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
}
#root .FooterContainer .Footer_Top .Footer_sec .F_info .F_infoUl .F_infoLi01  > p,
#root .FooterContainer .Footer_Top .Footer_sec .F_info .F_infoUl .F_infoLi01  > p strong{
    color: #555;
}
#root .FooterContainer .Footer_Top .Footer_sec .F_info .F_infoUl .F_infoLi02 > p,
#root .FooterContainer .Footer_Top .Footer_sec .F_info .F_infoUl .F_infoLi02 > p strong{
    color: #555;
    padding: 3px 0;
}

/* 우측 고객센터 */
#root .FooterContainer .Footer_Top .Footer_sec .F_support{
    width: 330px;
    /* height: 100px; */
    padding: 30px;
    /* text-align: center; */
    background-color: #f2f3f5;
    border-radius: 10px;
    font-size: 14px;
}
#root .FooterContainer .Footer_Top .Footer_sec .F_support > h4{
    /* font-size: 22px; */
    font-weight: bold;
    color: #0b79b7;
}

/* -------------------------------------- */

/* 하단 카피라이트 */
#root .FooterContainer .F_copyright{
    margin: 40px 0;
    margin: 40px 0;
    font-size: 12px;
    text-align: center;
}