.header {
    position: fixed;
    top: 0;
    left: 0;
    height:70px; 
    background-color: #f9fafc;
    width: 100%;
    z-index: 99;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #e2e4e9;
}
.headerflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.headerLogolink{
    vertical-align: middle;
}
.headerLogo {
    width: 100px;
    justify-self: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.bi-list{
    color: #0b79b7;
}
.headerBrand{
    display: inline-block;
    width: fit-content;
    height: 30px;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    transition: 0.3s;
    color: #0b79b7;
    transform: translateY(-12px);
}
.headerNavRighttop {
    display: flex;
    gap: 20px;
}
.headerBtnCate{
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: inherit;
    font-size: 25px;
    transition: 0.3s;
    cursor: pointer;
}

.headerBtn{
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: inherit;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.3s;
    cursor: pointer;
}
.headerBtnCate:hover, .headerBrand:hover, .headerBtn:hover,.headerBtnX:hover{
    text-shadow: 0 0 20px rgba(0,0,0,0.4);
    color: #065d8f;
}
.headerUserBookedModal {
    position: absolute;
    max-height: 0px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transform: translateY(-30px);
    width: 340px;
    top: 75px;
    right: 30px;
    z-index: 30;
    display: none;
    transition: transform 0.5s ease;
}
.headerUserBookedModal.open{
    position: absolute;
    max-height: 500px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 340px;
    top: 75px;
    right: 30px;
    z-index: 30;
    display: block;
    transform: translateY(0);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
.headerModalH{
    height: 40px;
}
.headerUserBookModalContext{   
    max-height: 250px;
    width: 310px;
    overflow-y: auto;
}
.headerUserBookModalContext::-webkit-scrollbar {
    width: 3px;
}
.headerUserBookModalContext::-webkit-scrollbar-thumb {
  background:  #2591cf80;
  border-radius: 3px;
}
.headermodalText{
    font-size: 15px;
    margin-left: 25px;
    font-weight: 500;
    color: rgb(70, 70, 70);
}
.headerModalInfo{
    display: flex;
    width: 95%;
    padding: 10px 5px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.headerModalDate{
    display: inline-block;
    width: 90%;
    font-size: 13px;
    margin-top: 5px;
    margin-left: 30px;
}
.headerModalImg {
    margin-top: 20px;
    width: 300px;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}
.headerModalBtnX {
    border: 0;
    position: absolute;
    background: none;
    top: 0;
    right: 10px;
    font-size: 28px;
    transition: 0.3s;
    cursor: pointer;
}
.headerModalBtn {
    width: 100%;
    margin-top: 20px;
    padding: 12px 0;
    border: none;
    background: #0b79b7;
    color: white;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
    
}
.headerModalBtn:hover {
    background: #065d8f;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}
.headerNavRighttop a {
    text-decoration: none;
    font-size: 1rem;
}
.headerBannerImgWrap{
    text-align: center;
    width: 277px;
    height: 277px;
}
.headerNavAd {
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
}
.headerBannerImg{
    width: 277px;
    height: 257px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    cursor: pointer;
}
.headerNavSide {
    position: fixed;
    top: 0; 
    left: 0;
    width: 340px;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.5s;
    background-color: white;
    z-index: 100;
    padding: 10px 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    overflow-y: auto;
}
.headerNavSide::-webkit-scrollbar {
  width: 3px;
}
.headerNavSide::-webkit-scrollbar-thumb {
  background:  #2591cf80;
  border-radius: 3px;
}
.headerNavSide.on {
    transform: translateX(0);
}
.headerBtnX {
    border: 0;
    background: none;
    margin: 13px 0;
    font-size: 28px;
    transition: 0.3s;
    cursor: pointer;
}
.headerNavContent {
    margin-top: 20px;
}

.headerNavUl {
    list-style: none;
    padding: 0;
    margin: 0;
}
.headerNavH {
    font-weight: bold;
    margin-bottom: 20px;
}
.headerNavpointer i {
    color: #0b79b7;
}
.headerNavLi {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eee;
    font-size: 20px;
    transition: 0.3s;
    border-radius: 10px;
    cursor: pointer;
}
.headerNavLi:hover {
    background-color: #2591cf;
    transform: scale(1.02);
    color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.headerNavLi:hover .headerNavpointer i{
    color: white;
}
.headerNavLi:hover div {
    color: #f4f4f4;
}
Link {
    text-decoration: none;
}
.sideNavOverlay{
    position: fixed;
    inset: 0;
    z-index: 100;
    background: rgba(0,0,0,0.3);

}