.header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #e0e0e0;
}
.headerLogolink{
    vertical-align: middle;
}
.headerLogo {
    width: 100px;
    margin-right: 20px;
}
.bi-list{
    color: #0b79b7;
}
.headerBrand{
    display: inline-block;
    width: fit-content;
    height: 30px;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    transition: 0.3s;
    color: rgb(15, 117, 189);
    transform: translateY(-12px);
}
.headerNavRighttop {
    display: flex;
    gap: 20px;
}
.headerBtnCate{
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: inherit;
    font-size: 25px;
    transition: 0.3s;
    cursor: pointer;
}

.headerBtn{
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: inherit;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.3s;
    cursor: pointer;
}
.headerBtnCate:hover, .headerBrand:hover, .headerBtn:hover,.headerBtnX:hover{
    text-shadow: 0 0 20px rgba(0,0,0,0.4);
    color: rgb(0, 48, 119);
}
.headerNavRighttop a {
    text-decoration: none;
    font-size: 1rem;
}

.headerNavSide {
    position: fixed;
    top: 0; 
    left: 0;
    width: 220px;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.5s;
    background-color: white;
    z-index: 100;
    padding: 10px 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.headerNavSide.on {
    transform: translateX(0);
}
.headerBtnX {
    border: 0;
    background: none;
    margin: 13px 0;
    font-size: 28px;
    transition: 0.3s;
    cursor: pointer;
}
.headerNavContent {
    margin-top: 20px;
}
.headerNavAd {
    background: #f4f4f4;
    height: 150px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 60px;
    line-height: 1.4;
}
.headerNavUl {
    list-style: none;
    padding: 0;
    margin: 0;
}
.headerNavH {
    font-weight: bold;
}
.headerNavpointer {
    color: rgb(15, 117, 189);
}
.headerNavLi {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eee;
    font-size: 20px;
    transition: 0.3s;
    border-radius: 10px;
    cursor: pointer;
}
.headerNavLi:hover {
    background-color: rgb(15, 117, 189);
    transform: scale(1.1);
    color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.headerNavLi:hover div {
    color: #f4f4f4;
}